#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

function boot_android {
    set gfxpayload=keep
    echo 'Loading kernel...'
    linux /@BOOTMGR_ANDROID_DIR_NAME@/kernel @STRIPPED_BOARD_KERNEL_CMDLINE@ androidboot.android_dir=@BOOTMGR_ANDROID_DIR_NAME@ $@
    echo 'Loading ramdisk...'
    initrd /@BOOTMGR_ANDROID_DIR_NAME@/ramdisk.img
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ - Mount userdata from images" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=imgs
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ - Mount userdata from subdirs" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=bind_mount_dir
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ - Store userdata in RAM" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ - Store system and userdata in RAM" {
    boot_android androidboot.mount_system=imgs_ram androidboot.mount_userdata=tmpfs
}
