# DMABUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DRM Panic
CONFIG_DRM_PANIC_SCREEN="kmsg"

# EFI
CONFIG_EFI_GENERIC_STUB_INITRD_CMDLINE_LOADER=y
CONFIG_EFI_STUB=y
CONFIG_EFI_VARS_PSTORE=y
# CONFIG_EFI_VARS_PSTORE_DEFAULT_DISABLE is not set

# Input
# CONFIG_MOUSE_PS2_VMMOUSE is not set

# Pstore
CONFIG_PSTORE=y
CONFIG_PSTORE_DEFAULT_KMSG_BYTES=1048576
CONFIG_PSTORE_COMPRESS=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_PSTORE_ZONE=y
CONFIG_PSTORE_BLK=y
CONFIG_PSTORE_BLK_BLKDEV=""
CONFIG_PSTORE_BLK_KMSG_SIZE=1024
CONFIG_PSTORE_BLK_MAX_REASON=2
CONFIG_PSTORE_BLK_PMSG_SIZE=1024
CONFIG_PSTORE_BLK_CONSOLE_SIZE=1024

# Security
# CONFIG_STATIC_USERMODEHELPER is not set

# Wi-Fi
CONFIG_VIRT_WIFI=m
