# Dependencies for amd64/config
CONFIG_ACPI_DPTF=y
CONFIG_NUMA=y
CONFIG_X86_MCE=y
CONFIG_ZONE_DMA=y

# Restores from config
CONFIG_ACPI_HMAT=y

# Restores from amd64/config
CONFIG_X86_CPU_RESCTRL=y
# CONFIG_X86_EXTENDED_PLATFORM is not set
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_INTEL_TDX_GUEST=y
CONFIG_GART_IOMMU=y
CONFIG_X86_REROUTE_FOR_BROKEN_BOOT_IRQS=y
CONFIG_X86_MCE=y
CONFIG_X86_VSYSCALL_EMULATION=y
CONFIG_X86_MSR=m
CONFIG_X86_CPUID=m
CONFIG_AMD_MEM_ENCRYPT=y
CONFIG_X86_PMEM_LEGACY=m
CONFIG_X86_SGX=y
CONFIG_EFI_MIXED=y
CONFIG_EFI_RUNTIME_MAP=y
CONFIG_LEGACY_VSYSCALL_NONE=y
CONFIG_INTEL_TXT=y
