service vendor.hwcomposer-3.drm_upstream /vendor/bin/hw/android.hardware.composer.hwc3-service.drm_upstream
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
