# ACPI
CONFIG_ACPI_AC=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_FAN=y
CONFIG_ACPI_THERMAL=y

# ATA
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_SATA_AHCI=y

# CPU freq
CONFIG_X86_ACPI_CPUFREQ=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# EFI
CONFIG_EFI_STUB=y

# Mouse
CONFIG_MOUSE_PS2=y

# Processor
CONFIG_NUMA=y

# USB
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_OHCI_HCD=y
