# Dependencies for config
CONFIG_NUMA=y
CONFIG_ZONE_DMA=y

# Dependencies for arm64/config
CONFIG_TCG_TPM=y
CONFIG_SUNXI_CCU=y
CONFIG_TI_SCI_INTA_IRQCHIP=y
CONFIG_TI_K3_RINGACC=y
CONFIG_GPIB=y
CONFIG_SLIMBUS=y
CONFIG_SUNXI_RSB=y
CONFIG_NET_SCH_TAPRIO=y
CONFIG_NET_SCH_CBS=y
CONFIG_TI_DAVINCI_MDIO=y
CONFIG_TI_K3_AM65_CPTS=y
CONFIG_HSR=y
CONFIG_VEXPRESS_CONFIG=y
CONFIG_DTPM=y
CONFIG_SOUNDWIRE=y

# Restores from config
CONFIG_ACPI_HMAT=y
CONFIG_MEMORY_FAILURE=y
CONFIG_ZONE_DEVICE=y
CONFIG_DEVICE_PRIVATE=y

# Restores from arm64/config
CONFIG_ARCH_SUNXI=y
CONFIG_ARCH_BCM=y
CONFIG_ARCH_BCM2835=y
CONFIG_ARCH_EXYNOS=y
CONFIG_ARCH_K3=y
CONFIG_ARCH_HISI=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_ARCH_MESON=y
CONFIG_ARCH_MVEBU=y
CONFIG_ARCH_NXP=y
CONFIG_ARCH_LAYERSCAPE=y
CONFIG_ARCH_MXC=y
CONFIG_ARCH_QCOM=y
CONFIG_ARCH_RENESAS=y
CONFIG_ARCH_ROCKCHIP=y
CONFIG_ARCH_SEATTLE=y
CONFIG_ARCH_SYNQUACER=y
CONFIG_ARCH_TEGRA=y
CONFIG_ARCH_THUNDER=y
CONFIG_ARCH_THUNDER2=y
CONFIG_ARCH_VEXPRESS=y
CONFIG_ARCH_XGENE=y
CONFIG_ARCH_ZYNQMP=y
