#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mainline.rc

# Console
service console_hvc0 /system/bin/sh
    class core
    console hvc0
    disabled
    user root
    group root shell log readproc
    seclabel u:r:su:s0
    setenv HOSTNAME console
    shutdown critical

service console_ttyS0 /system/bin/sh
    class core
    console ttyS0
    disabled
    user root
    group root shell log readproc
    seclabel u:r:su:s0
    setenv HOSTNAME console
    shutdown critical
    oneshot

on init
    start console_hvc0
    start console_ttyS0

# Display
service vendor.get_display_ppi /vendor/bin/get_display_ppi
    class core
    user root
    group root graphics
    oneshot

on early-init && property:ro.boot.lcd_density=*
    setprop ro.sf.lcd_density ${ro.boot.lcd_density}

on init
    start vendor.get_display_ppi

on late-init && property:ro.vendor.get_display_ppi.lcd_density=*
    setprop ro.sf.lcd_density ${ro.vendor.get_display_ppi.lcd_density}

on property:ro.hardware.gralloc=default && property:sys.bootstat.first_boot_completed=1
    write /sys/class/vtconsole/vtcon0/bind 0
    write /sys/class/vtconsole/vtcon1/bind 0

# Light
service vendor.light-default /vendor/bin/hw/android.hardware.light-service.lineage
    class hal
    user root
    group root
    shutdown critical
    override

# Kernel modules
on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -d /vendor/lib/modules zram.ko

on init
    # Undo the override from system init.rc
    write /proc/sys/kernel/modprobe /vendor/bin/modprobe_kernel

# Mount
on init
    trigger firmware_mounts_complete

on late-fs
    mount_all --late

# VirtWifi
on post-fs-data && property:ro.boot.wifi_impl=virt_wifi
    start setup_wifi

# Wi-Fi
on property:sys.boot_completed=1
    rm /data/vendor/wifi/wpa/sockets/wlan0
