#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

set gfxmode=auto
set gfxpayload=keep
if [ "$grub_platform" = "efi" ]; then
	set grub_gfx_module="efi_gop"
elif [ "$grub_platform" = "pc" ]; then
	set grub_gfx_module="vbe"
fi
if insmod $grub_gfx_module; then
	loadfont /boot/grub/fonts/unicode.pf2
	terminal_output gfxterm
fi

function boot_android {
    echo 'Loading kernel...'
    linux /@BOOTMGR_ANDROID_DIR_NAME@/kernel @STRIPPED_BOARD_KERNEL_CMDLINE@ androidboot.android_dir=@BOOTMGR_ANDROID_DIR_NAME@ $@
    echo 'Loading ramdisk...'
    initrd /@BOOTMGR_ANDROID_DIR_NAME@/ramdisk-all-combined.img
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs androidboot.mount_firmware=img
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live (Copy system to RAM)" {
    boot_android androidboot.mount_system=imgs_ram androidboot.mount_userdata=tmpfs androidboot.mount_firmware=img_ram
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live (Debug)" {
    boot_android efi_pstore.pstore_disable=0 androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs androidboot.mount_firmware=img androidboot.first_stage_console=3 androidboot.insecure_adb=true androidboot.mode=console androidboot.save_early_logs=1
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live (Enable serial console)" {
    boot_android @STRIPPED_BOARD_KERNEL_CMDLINE_SERIAL_CONSOLE@ androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs androidboot.mount_firmware=img
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live (Force using framebuffer display)" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs androidboot.mount_firmware=img androidboot.use_fb_display=true
}

menuentry "@BOOTMGR_ANDROID_DISTRIBUTION_NAME@ Live (Skip mounting firmware)" {
    boot_android androidboot.mount_system=imgs androidboot.mount_userdata=tmpfs androidboot.mount_firmware=false
}

if [ "$grub_platform" = "efi" ]; then
    menuentry "Firmware setup" {
        fwsetup
    }
fi

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
